{% extends 'home.html'%}
    {% block fileListContent %}
    <!--  Hack -  way of calling loaddetails for loading this pane alone !-->
    <img src onerror="loadInitialDetails()" style="display: none;">  
<div class="fileListDiv">            
<div class="classic-tabs mx-2 ulDiv">

  <ul class="nav nav-tabs md-tabs" id="customFileListUl" style="background: darkslateblue;" role="tablist">
      <li class="nav-item" onclick="loadInitialDetails()">
        <a class="nav-link  waves-light active fileListHeader show" id="fprsFilesTab" data-toggle="tab" href="#fprsFilesTabDiv"
          role="tab" aria-controls="fprsFilesTab" aria-selected="true">
          <!-- <i class="fas fa-arrow-alt-circle-up btn-outline-dark fa-3x"></i> -->
            <br>Fprs_Files</a>
      </li>
      <li class="nav-item" onclick="loadCMSFiles()">
        <a class="nav-link waves-light fileListHeader" id="cmsFilesTab" data-toggle="tab" href="#cmsFilesTabDiv"
          role="tab" aria-controls="cmsFilesTab" aria-selected="false">
          <!-- <i class="fas fa-heart fa-2x pb-2" aria-hidden="true"></i> -->
            <br>CMS_Files</a>
      </li>
      <li class="nav-item" onclick="loadCompFiles()">
        <a class="nav-link waves-light fileListHeader" id="comparsionTab" data-toggle="tab" href="#comparsionTabDiv"
          role="tab" aria-controls="comparsionTab" aria-selected="false">
          <!-- <i class="fas fa-envelope fa-2x pb-2" aria-hidden="true"></i> -->
            <br>Comparison_Files</a>
      </li>
      
    </ul>
  
    <div class="tab-content card" id="customFileListUl">
      <div class="tab-pane fade active show" id="fprsFilesTabDiv" role="tabpanel" aria-labelledby="fprsFilesTabDiv-aria-follow">
        <img src onerror="loadInitialDetails()" style="display: none;">
        {% if (fileDistFlag) and (not fileDistCMSFlag) and (not fileDistCOMPFlag) %} 
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">File</th>
              <th scope="col">Download</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
  
          {% for key, value in file_list_dict.items() %}
            <tbody>
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{key}}</td>
                <td><a href=""><i class="fa fa-download" id="downloadButtonId" aria-hidden="true"></i></td>
                <td><a href=""><i class="fa fa-trash align-self-center" id="deleteButtonId" aria-hidden="true"></i></td>
              </tr>
            </tbody>
           
          {% endfor %}
       
        </table>
        {% else %}
           <div class="noFileListDiv display-4">FPRS - None found</div>
        {% endif %}
      </div>
  

      
      <div class="tab-pane fade" id="cmsFilesTabDiv" role="tabpanel" aria-labelledby="cmsFilesTabDiv-aria-follow">
        {% if fileDistCMSFlag %} 
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">File</th>
              <th scope="col">Download</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
  
          {% for key, value in file_list_cms_dict.items() %}
            <tbody>
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{key}}</td>
                <td><a href=""><i class="fa fa-download" id="downloadButtonId" aria-hidden="true"></i></td>
                <td><a href=""><i class="fa fa-trash align-self-center" id="deleteButtonId" aria-hidden="true"></i></td>
              </tr>
            </tbody>
           
          {% endfor %}
       
        </table>
        {% else %}
           <div class="noFileListDiv display-4">{{fileDistCMSFlag == True}} cc - {{ fileDistFlag == True}} - None found</div>
        {% endif %}
      </div>
  

     
      <div class="tab-pane fade" id="comparsionTabDiv" role="tabpanel" aria-labelledby="comparsionFilesTabDiv-aria-follow">
        {% if fileDistCOMPFlag %} 
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">File</th>
              <th scope="col">Download</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
  
          {% for key, value in file_list_comp_dict.items() %}
            <tbody>
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{key}}</td>
                <td><a href=""><i class="fa fa-download" id="downloadButtonId" aria-hidden="true"></i></td>
                <td><a href=""><i class="fa fa-trash align-self-center" id="deleteButtonId" aria-hidden="true"></i></td>
              </tr>
            </tbody>
           
          {% endfor %}
       
        </table>
        {% else %}
           <div class="noFileListDiv display-4">Comp -None found</div>
        {% endif %}
      </div>
    </div>
  
  </div>
  </div>
    {% endblock fileListContent %}