#span_hamburger_icon {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    color: white;
    position: relative;
    padding-top: 8%;
    /* align-content: center; */
    /* align-items: center; */
    text-align: center;
    /* padding-right: 61%; */
    width: 25%;
}

#hamburger_icon {
    fill: white;
}

.hamburger_icon_focus {
  transition: transform 0.4s linear;
  transform: rotate(180deg);
}

.hamburger_icon_unfocus {
  transition: transform 0.4s linear;
  transform: rotate(-180deg);
}

/* #span_nav_id {
  height: 85vh;
  width: 0px;
  background-color: darkslateblue;
  top: 15%;
  opacity: 0.7;
  position: absolute;
  transition: width 0.7s linear;
}
.span_nav_id_expand {   
width: 15vw !important;
} */
nav {
  width: 0px;
  height: 65vh;
  top: 15%;
  opacity: 1;
  position: absolute;
  background: darkslateblue;
  transition: width 0.4s linear;
}

.nav_transition {
  width: 10vw !important;
}

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
}

nav ul li a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 25px;
  height: 20vh;
  position: relative;
  top:10vh;
  transition: transform 0.4s linear;
}

nav ul li a:hover {
 
 color:white; 
 animation: pulse_anim 0.4s linear both;

}

@keyframes pulse_anim {
  0% {
      transform: scale(1.1);
      box-shadow: -10px 0px 5px -10px white;
  
  }
  50% {
    transform: scale(1.3);
    box-shadow: -20px 0px 10px -20px white;
  }
  100% {
      transform: scale(1.5);
      box-shadow: -30px 0px 15px -30px white;
  }
}