.uploadFormDiv{
    display: grid;
    grid-row: 2/ span 1;
    grid-template-rows: 30% 50% 20%;
}

div.plan-Id-group {
    grid-row: 1/ span 1;
    display: grid;
}

div.file-card-group {
    grid-row: 2/span 1;
    display: grid;
}

div.submit-button-group {
    grid-row: 3/span 1;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 0 auto;
}

.formatDiv {
   position: relative;
   left: 0px;
   width: 65%;
   margin: 0 auto;
   display: grid;
}

.formatDiv.formatDiv_transition {
    animation: left_transition 0.4s forwards linear;
}

@keyframes left_transition {
    0% {
        left: 5%
    }
    50% {
        left: 10%
    }
    100% {
        left: 15%
    }
}

.formatDiv.formatDiv_undoTransition {
    animation: left_undo_transition 0.4s forwards linear;
}

@keyframes left_undo_transition {
    0% {
        left: 15%
    }
    50% {
        left: 5%
    }
    100% {
        left: 0%
    }
}

.card_div_left {
    float: left;
}

.card_div_right {
    float: right;
    /* background: url({{ url_for('static', filename='images/file_upload/file_upload.png')}}) repeat; */
}

/* Check if it can be included to remove the card border - STILL NOT WORKING */
.card[class*="border"] {
    border: 1px solid #9e9e9e;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 20px black;
    border-radius: 9px 9px 9px 9px;
    border-bottom: 1px solid black !important;
}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    max-height: 25vh;
    height: 22vh;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.btn-primary {
    color: #fff;
    background-color: darkslateblue !important;
    border-color: darkslateblue;
}

.swal-button {
    background-color: darkslateblue;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
}

div.card-body:hover {
    transition: transform 0.4s ease;
    transform: scale(1.1)
}

h3.generateButtonClass {
    display: inline-grid;
    /* flex-direction: row; */
    margin: 0 auto;
    position: relative;
    top: 16%;
}

.btn.btn-primary.submit-button-class {
    width: 40%;
    display: inline-block;
}

.input_error  {
 
    border: 2px solid red !important;
}
